body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden auto;
  background-color: #111;
}

* {
  padding: 0%;
  margin: 0%;
  font-family: "Roboto", serif;
  box-sizing: border-box;
}
